footer.footer(role="contentinfo")
  .container
    .social
      ul
        li 
          iframe(src="http://ghbtns.com/github-btn.html?user=cbaigorri&repo=ExpressBoilerplate&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="51", height="20")
        li 
          iframe(src="http://ghbtns.com/github-btn.html?user=cbaigorri&repo=ExpressBoilerplate&type=fork", allowtransparency="true", frameborder="0", scrolling="0", width="53", height="20")
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=cbaigorri&type=follow", allowtransparency="true", frameborder="0", scrolling="0", width="132", height="20")