<footer role="contentinfo" class="footer">
  <div class="container">
    <div class="social">
      <ul>
        <li> 
          <iframe src="http://ghbtns.com/github-btn.html?user=cbaigorri&amp;repo=ExpressBoilerplate&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="51" height="20"></iframe>
        </li>
        <li> 
          <iframe src="http://ghbtns.com/github-btn.html?user=cbaigorri&amp;repo=ExpressBoilerplate&amp;type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=cbaigorri&amp;type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
        </li>
      </ul>
    </div>
  </div>
</footer>